<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이거슨 html이오!!</title>
    <link rel="stylesheet" href="../public/js/style.css">
</head>
<body>
    <header> 
        <h1>Let's chat!!</h1>
    </header>
    <main> 
        <div class="menu">
            <form id="nick"> 
                <input type="text", placeholder="nickname", required/>
                <button>save</button>
            </form>
            <form id="message"> 
                <input type="text", placeholder="write msg!", required/>
                <button>Send</button>
            </form>
        </div>
        <ul></ul>
    </main>
    <script src="../public/js/app.js"></script>
</body>
</html>